.notification-bell{
    position:fixed;
    width:60px;
    height:60px;
    top:50%;
    right:1rem;
    cursor:pointer;
    z-index: 50;
}
.notification-bell:hover{
    transform: scale(1.1);
}
.count{
    min-height:20px;
    min-width:20px;
    position:absolute;
    right:0;
    display: inline-block;
    background-color: red;
    border-radius: 100%;
    text-align: center;
}
.notification-bell img{
    width:100%;
    height:100%;
}