@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');


*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
    font-family: 'Overpass', sans-serif;
}

body {
    min-height: 100vh;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

html {
    color-scheme: dark light;
}

img, video, picture, svg {
    max-width:100%;
}